<template>
  <select
    class="form-select"
    ref="selectRef"
    @change="$emit('change', $refs.selectRef.value)"
  >
    <option value="" disabled selected>{{ placeholder }}</option>
    <option :value="option.key" v-for="option in options" :key="option.key">
      {{ option.label }}
    </option>
  </select>
</template>

<script>
export default {
  name: "AppSelect",

  props: {
    placeholder: {
      type: String,
      required: true,
    },

    options: {
      type: Array,
      required: true,
    },
  },
};
</script>
