<template>
  <div class="app-table">
    <div class="app-table__filtering-section">
      <AppSelect
        :placeholder="'Колонка фильтрации'"
        @change="(value) => (filteringColumn = value)"
        :options="$options.HEADERS"
      />
      <AppSelect
        @change="(value) => (filteringCondition = value)"
        :placeholder="'Условие фильтрации'"
        :options="$options.FILTER_CONDITION_SELECTION_OPTIONS"
      />
      <input
        type="text"
        class="form-control"
        v-model="filteringValue"
        :placeholder="'Значение фильтрации'"
      />
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th
            scope="col"
            class="app-table__header"
            v-for="header in headers"
            :key="header.key"
            @click.stop="header.key !== 'date' && changeSort(header.key)"
          >
            {{ header.label }}
            <i
              class="bi bi-arrow-down arrow"
              v-if="header.key !== 'date'"
              :class="{
                'arrow-reversed':
                  sortKey === header.key &&
                  sortOrder === $options.DESC_SORT_ORDER,
              }"
            ></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in paginatedData" :key="row._id">
          <td>{{ row.quantity }}</td>
          <td>{{ row.name }}</td>
          <td>{{ new Date(row.date).toLocaleString("ru") }}</td>
          <td>{{ row.distance }}</td>
        </tr>
      </tbody>
    </table>

    <TablePagination
      v-if="filteredData.length > $options.ROWS_PER_PAGE"
      class="app-table__pagination"
      :rowsPerPage="$options.ROWS_PER_PAGE"
      :totalRows="filteredData.length"
      @paginate="paginate"
      :currentPage="currentPage"
    />
  </div>
</template>

<script>
import TablePagination from "./TablePagination.vue";
import tableHeaders from "../../tableHeaders.json";
import AppSelect from "../AppSelect.vue";

export default {
  ASC_SORT_ORDER: "asc",
  DESC_SORT_ORDER: "desc",
  HEADERS: tableHeaders,
  ROWS_PER_PAGE: 10,
  FILTER_CONDITION_SELECTION_OPTIONS: [
    {
      key: "equals",
      label: "Равно",
    },
    {
      key: "includes",
      label: "Содержит",
    },
    {
      key: "larger",
      label: "Больше",
    },
    {
      key: "less",
      label: "Меньше",
    },
  ],

  name: "AppTable",

  props: {
    data: { type: Array, required: true },
  },

  components: {
    TablePagination,
    AppSelect,
  },

  data() {
    return {
      sortKey: null,
      sortOrder: this.$options.ASC_SORT_ORDER,
      currentPage: 1,
      filteringColumn: null,
      filteringCondition: null,
      filteringValue: null,
    };
  },

  computed: {
    headers() {
      return this.$options.HEADERS;
    },

    sortedData() {
      if (!this.sortKey) {
        return this.data;
      }

      const sortedData = [...this.data].sort((a, b) =>
        a[this.sortKey] > b[this.sortKey] ? 1 : -1
      );

      if (this.sortOrder === this.$options.DESC_SORT_ORDER) {
        return sortedData.reverse();
      }

      return sortedData;
    },

    lastPageIndex() {
      return this.currentPage * this.$options.ROWS_PER_PAGE;
    },

    firstPageIndex() {
      return this.lastPageIndex - this.$options.ROWS_PER_PAGE;
    },

    paginatedData() {
      return this.filteredData.slice(this.firstPageIndex, this.lastPageIndex);
    },

    filterFuncs() {
      return {
        equals: (value) => {
          return value[this.filteringColumn] == this.filteringValue;
        },
        includes: (value) =>
          String(value[this.filteringColumn]).includes(this.filteringValue),
        larger: (value) => value[this.filteringColumn] > this.filteringValue,
        less: (value) => value[this.filteringColumn] < this.filteringValue,
      };
    },

    filteredData() {
      if (
        !this.filteringColumn ||
        !this.filteringCondition ||
        !this.filteringValue
      ) {
        return this.sortedData;
      }

      return this.sortedData.filter(this.filterFuncs[this.filteringCondition]);
    },
  },

  methods: {
    changeSort(key) {
      this.sortOrder =
        this.sortOrder === this.$options.ASC_SORT_ORDER
          ? this.$options.DESC_SORT_ORDER
          : this.$options.ASC_SORT_ORDER;

      this.sortKey = key;
    },

    paginate(i) {
      this.currentPage = i;
    },
  },

  watch: {
    filteredData() {
      this.currentPage = 1;
    },
  },
};
</script>

<style>
.app-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.app-table__header {
  cursor: pointer;
}

.app-table .table {
  margin-bottom: 0px;
}

.app-table__filtering-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.app-table__filtering-section > * {
  flex: 0 1 30%;
}

.arrow::before {
  transition: transform 0.1s ease-in;
}

.arrow-reversed::before {
  transform: rotate(180deg);
}
</style>
