<template>
  <nav aria-label="...">
    <ul class="pagination">
      <li
        class="page-item"
        :class="{
          disabled: currentPage === 1,
        }"
      >
        <a
          class="page-link"
          href="#"
          @click="$emit('paginate', currentPage - 1)"
          >Previous</a
        >
      </li>
      <li
        v-for="page in pageNumbers"
        class="page-item"
        :key="page"
        :class="{ active: currentPage === page }"
      >
        <a class="page-link" href="#" @click="$emit('paginate', page)">
          {{ page }}
        </a>
      </li>
      <li
        class="page-item"
        :class="{
          disabled: currentPage === pageNumbers.length,
        }"
      >
        <a
          class="page-link"
          href="#"
          @click="$emit('paginate', currentPage + 1)"
          >Next</a
        >
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: "TablePagination",

  props: {
    rowsPerPage: {
      type: Number,
      required: true,
    },

    totalRows: {
      type: Number,
      required: true,
    },

    currentPage: {
      type: Number,
      required: true,
    },
  },

  computed: {
    pageNumbers() {
      const pageNumbers = [];

      for (let i = 1; i <= Math.ceil(this.totalRows / this.rowsPerPage); i++) {
        pageNumbers.push(i);
      }

      return pageNumbers;
    },
  },
};
</script>
