<template>
  <div class="app">
    <div class="app__container">
      <AppTable :data="tableData" />
    </div>
  </div>
</template>

<script>
import AppTable from "./components/Table/AppTable.vue";
import tableData from "./tableData.json";

export default {
  name: "App",
  components: {
    AppTable,
  },

  data() {
    return {
      tableData,
    };
  },
};
</script>

<style lang="scss">
.app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.app__container {
  max-width: 60%;
  margin: 0 auto;
}
</style>
